@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#top-top-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99999999;
}

#top-header {
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: orange;
}

#top-header-content:hover {
    color: rgb(228, 228, 228);
}

.top-header-content-a {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}

.top-header-content-a:hover {
    color: rgb(228, 228, 228);
}

#mid-header {
    left: 0;
    right: 0;
    height: 10em;
    background-color: orange;
    text-align: center;
    z-index: 99999999;
}

.mid-header-content-a-buttons {
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-size: large;
    padding: 5px;
    background: none;
    border: none;
}

.mid-header-content-a-buttons:hover {
    color: rgb(51, 51, 51);
}

#dropdown-hakkimizda {
    position: relative;
}

#hakkmizida-content {
    display: none;
    position: absolute;
    z-index: 999;
}

.hakkmizida:hover #hakkmizida-content{
    display: block;
}

#first-element-content {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("resimler/gecici_arla_plan_fotografi.jpg");
}